{% extends 'base.html.twig' %}

{% block title %}Find My Dream Home{% endblock %}

{% block body %}


    <main class="form-connect">
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label == 'success' ? 'success' : 'danger' }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
        <h4>Nouvel ajout d'un bien</h4>
      
         {% include 'components/_form.html.twig' with {
        form: form,
        button_label: 'Ajouter'
        } %}

        <div>Retour à l'<a href="{{ path('home') }}">accueil</a></div>
    </main>
{% endblock %}
