<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find My Dream Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
    <body>
    <main class="form-connect">
    <form action="" method="post" class="form-container" enctype="multipart/form-data" id="form-add">
    <h4>Nouvel ajout d'un bien</h4>
    <label for="title">Titre</label>
    <input type="text" name="title" id="title" required>
     <div  class="form-alert" id="isTitleValid"></div>
    <label for="property-type">Type :</label>
   <select id="property-type" name="property_type" required>
    <option value="">--Préciser le type de bien svp--</option>
    
</select>
    <label for="image">Image</label>
    <input type="file" id="image" name="image" accept="image/png, image/jpeg, image/jpg, image/webp" />
    <label for="price">Prix (en €)</label>
    <input type="number" name="price" id="price"  min="0" required>
    <div  class="form-alert" id="isPriceValid"></div>
    <label for="location">Ville</label>
    <input type="text" name="location" id="location" required>
    <div  class="form-alert" id="isLocationValid"></div>
    <select id="transaction-type" name="transaction_type" required>
     <option value="">--Préciser le type de transaction--</option>
    
</select>
    <label for="description">Description</label>
    <textarea id="description" name="description" cols="30" rows="10" required></textarea>
     <div  class="form-alert" id="isDescriptionValid"></div>
    <button type="submit">Ajouter</button></form>
   
    <div>Retour à l'<a href="/">accueil</a></div>
    </main>
    <script src="../js/script.js"></script>
</body>
</html>