 {%extends 'base.html.twig' %}

{% block title %}Find My Dream Home{% endblock %}
   {% block body %}
   <main>
     <h2>Nos annonces de maisons</h2>
      <section class="container">
      {% for item in pagination %}
         {% include 'components/_item.html.twig' with { item: item } %}
      {% else %}
         <p>Aucune annonce trouvée.</p>
      {% endfor %}
   </section>

   <div class="pagination">
      {{ knp_pagination_render(pagination) }}
   </div>
     </main>
{% endblock %}