 {%extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

 {% block body %}

  <main class="form-connect" >
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label == 'success' ? 'success' : 'danger' }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %} 
    
    <h4>Modifier une annonce</h4>

        {% include 'components/_form.html.twig' with {
            form: form,
            button_label: 'Modifer'
        } %}
    

    <div>Retour à l'<a href="{{ path('home') }}">accueil</a></div>
    
</main>
{% endblock %}