 {%extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

 {% block body %}

  <main class="form-connect" >
    
    
    <h4>Modifier une annonce</h4>
        {% if item.imageUrl %}
        <div>
            <p>Image actuelle :</p>
            <img src="{{ asset('uploads/' ~ item.imageUrl) }}" alt="Image de l'annonce" style="max-width: 300px;">
        </div>
        {% endif %}
        {% include 'components/_form.html.twig' with {
            form: form,
            button_label: 'Modifer'
        } %}
    

    <div>Retour à l'<a href="{{ path('home') }}">accueil</a></div>
    
</main>
{% endblock %}