{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<nav>
    <ul>
        <li>{% include 'components/_button.html.twig' with {
            action: path('admin_listing_index'),
            text: 'Gérer les annonces',
            method: 'GET',
            color: 'blue'
        } %}</li>
        <li>{% include 'components/_button.html.twig' with {
            action: path('admin_user_index'),
            text: 'Gérer les utilisateurs',
            method: 'GET',
            color: 'blue'
        } %}</li>
        <li>{% include 'components/_button.html.twig' with {
            action: path('admin_property_type_add'),
            text: 'Gérer les types de propriété',
            method: 'GET',
            color: 'blue'
        } %}</li>
        <li>{% include 'components/_button.html.twig' with {
            action: path('admin_transaction_type_add'),
            text: 'Gérer les types de transaction',
            method: 'GET',
            color: 'blue'
        } %}</li>
    </ul>
</nav>
{% endblock %}