<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/alpinejs" defer></script>
        {% block stylesheets %}
           
        {% endblock %}
     
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% include 'components/_header.html.twig' %}
    {% include 'components/_notification.html.twig' %}
    
        {% block body %} {% endblock %}
        {% include 'components/_footer.html.twig' %}
    </body>
</html>
