 {%extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
   {% block body %}
    <h2>Nos annonces de maisons</h2>
    <section class="container">
        
    </section>
    <h2>Nos annonces d’appartements</h2>
    <section class="container">
       
    </section>
{% endblock %}