 {%extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
   {% block body %}
   <main>
   
    <h2>Nos annonces de maisons</h2>
    <section class="container">
    {% for item in houses  %}
        {% include 'components/_item.html.twig' with {
            item: item,
            favoriteIds: favoriteIds
        } %}
    {% else %}
        <p>Aucune annonce trouvée.</p>
    {% endfor %}
</section>
    <h2>Nos annonces d’appartements</h2>
    <section class="container">
    {% for item in apartments  %}
        {% include 'components/_item.html.twig' with {
            item: item,
            favoriteIds: favoriteIds
        } %}
    {% else %}
        <p>Aucune annonce trouvée.</p>
    {% endfor %}
</section>
   </main>
{% endblock %}