 {%extends 'base.html.twig' %}

{% block title %}Connexion à Find My Dream Home{% endblock %}
   {% block body %}
    <main class="form-connect">
    <form action="<?= htmlspecialchars($_SERVER['PHP_SELF']) ?>" class="form-container" method="post" id="form-login">
    <h4>Connexion</h4>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <div class="form-alert" id="isEmailValid"></div>
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" required>
    <div  class="form-alert" id="isPassValid"></div>
    <button type="submit">Se connecter</button></form> 
    <div>Pas encore de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></div>

    </main>
{% endblock %}
