 {%extends 'base.html.twig' %}

{% block title %}Créer un compte sur Find My Dream Home{% endblock %}
   {% block body %}
      <main>
    <form action="" method="post" class="form-container" id="form-register">
    <h2>Inscription</h2>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <div class="form-alert" id="isEmailValid"></div>
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" required>
    <div  class="form-alert" id="isPassValid"></div>
    <label for="confirm-password">Confirmer le mot de passe</label>
    <input type="password" name="confirm-password" id="confirm-password" required>
    <div class="form-alert" id="isPassSame"></div>
    <button type="submit">S'inscrire</button></form>   
    <div>Déjà inscrit ? <a href="{{ path('login') }}">Connectez-vous</a></div>
     </main>
{% endblock %}